.popup {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 0 7px 0 #b3b3b3;
    border-radius: 50%;
    bottom: 20px;
    right: 40px;
}

.popup .icon {
    padding: 30px;
    cursor: pointer;
}

.popup .icon:hover {
    background-color: unset;
}

.popup:hover {
    box-shadow: 0 0 10px 0 #9b9b9b;
}

.popup header {
    border-bottom: 1px solid #f5f5f5;
}

.popup header .btn-close {
    float: right;
}

.popup .content {
    position: fixed;
    bottom: 20px;
    right: 40px;
    width: 400px;
    height: 400px;
    background-color: white;
    box-shadow: 0 0 11px 0 #8a8a8a;
    padding: 10px;
}