.sign-up {
  & .heading {
    margin: 40px 0;
  }
  & form {
    display: grid;
    max-width: $mobile-breakpoint;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0 auto;

    & .full {
      grid-column: 1 / -1;
    }
  }
}
