.branch-marker {
  background-color: white;
  position: absolute;
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 6px;
  width: max-content;

  & span {
    display: none;
  }

  &:hover span {
    display: unset;
  }
}
