.toy-details {
  & .toy-img-container {
    margin: 30px 0;
  }

  & .toy-img {
    max-height: 400px;
    object-fit: contain;
  }

  & .toy-actions {
    margin-top: 20px;
  }
}

.toy-reviews {
  background-color: $clr-white;
  margin: 40px 0;
}
